*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: green;
    background-color: black;
    text-shadow: white 0px 0px 1px;
}
body{
    scroll-behavior: smooth;
}
.header-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(images/header-section-img.jpeg);
    background-size: cover;
    background-position: center;
}
.header-section-intro{
    text-align: center;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d7b68d5;
    width: 100vw;
    font-size: 52px;
    text-transform: uppercase;
    color: white;
    text-shadow: rgb(97, 21, 58) 0px 0px 30px;
}
.about-section{
    background:linear-gradient(to bottom, rgb(141, 123, 104), rgb(200, 182, 166));
    height: 100vh;
    padding: 40px 150px 40px 150px;
}
.about-section-info{
    font-size: 28px;
    text-transform: capitalize;
    color: lightgrey;
}
.projects-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, rgb(200, 182, 166), rgb(141, 123, 104));
    padding:40px 150px 40px 150px;
}
.project-sections-info{
    height: 90vh;
    text-align: center;
}
.project-sections-info h1{
    font-size: 30px;
}
.projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4%;
}
.project{
    height: 275px;
    width: 200px;
    border: rgb(97, 21, 58) 5px solid;
    border-radius: 20px;
    overflow: hidden;
}
/* Here I will add detail to how I am creating the code for the project cards, they will use CSS and 
javascript coding to excute proper UX */

/* I suck at this technique but I will do my best lol*/

/* I initially used a key frame code but when migrating the commit to github, it did not work as planned.
Instead I went with a hover effect and placed the overflow in a hidden rule.*/

.project .descriptor{
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    transform: translateY(-900px);
    transition: all .4s ease-in;
}
.project:hover .descriptor{
    opacity: 100%;
    transform: translateY(0px);
    transition: all 1s ease-out;
    background-color: white;
    padding: 5%;
}
.project:hover{
    scale: 1.2;
    border: 2px solid rgb(97, 21, 58);
    box-shadow: 0px 0px 20px rgb(97, 21, 58);
    transition: all .6s ease-out;
}

/*@keyframes descCover {
    0%  {color: rgba(200, 182, 166, 0);transform: translate(-50px,0px);opacity: 0%;}
    50%  {color: rgba(200, 182, 166, 0);transform: translate(-20px,0px);opacity: 33%;}
    70%  {color: rgb(0, 0, 0);transform: translate(-5px,0px);opacity: 66%;}
    100% {color: black;transform: translate(0px,0px);opacity: 100%;}
 }*/
 
.project .action{
    display: flex;
    height: 100px;
    text-align: center;
    width: auto;
    border-radius: 0px 0px 20px 20px;
}
.project .source-code,.project .source-project{
    flex: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;

}
.project .action a{
    color: white;
    text-align: center;
}
.project:hover .action a{
    transform: translateY(-20px);
    color: rgb(231, 18, 121);
    text-decoration: none;
}