*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: green;
    background-color: black;
    text-shadow: white 0px 0px 1px;
}
body{
    scroll-behavior: smooth;
}
.header-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(images/header-section-img.jpeg);
    background-size: cover;
    background-position: center;
}
.header-section-intro{
    text-align: center;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 99, 185, 0.717);
    width: 100vw;
    font-size: 52px;
    text-transform: uppercase;
    color: white;
    text-shadow: black 0px 0px 30px;
}
.about-section{
    background:linear-gradient(to bottom, rgb(14, 0, 27), rgb(201, 144, 255));
    height: 100vh;
    padding: 40px 150px 40px 150px;
}
.about-section-info{
    font-size: 32px;
    text-transform: capitalize;
    color: lightgrey;
}
.projects-section{
    height: 100vh;
    background:linear-gradient(to bottom, rgb(201, 144, 254), rgb(14, 0, 27))
}